* {
    box-sizing: border-box;
  } 

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.web_title {
    margin: 0;
    padding: 5px;
    padding-left: 20px;
    background-color: #b5b5b5;
}

.content {
    left:0;
    right:0;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    width: 300px;
}

.query_box {
    padding-bottom: 5px;
    background-color: #edd1b8;
    border: 1px solid;
}

#submit {
    margin-top: 10px;
}

.form_inner {
    padding-right: 10px
}

form {
    margin: 20px;
}

.response {
    left:0;
    right:0;

    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    width: 750px;
}